html {
  height: 100%;
  font-size: 13.3333px;
  font-family: Arial;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
}

.render-canvas {
  position: fixed;
  background: #222;
}
